[submodule "lib/MIDI_Library"]
	path = lib/MIDI_Library
	url = git@github.com:FortySevenEffects/arduino_midi_library.git
[submodule "lib/USB_Host_Shield_2.0"]
	path = lib/USB_Host_Shield_2.0
	url = git@github.com:felis/USB_Host_Shield_2.0.git
[submodule "lib/Arduino_PrintStream"]
	path = lib/Arduino_PrintStream
	url = https://github.com/tttapa/Arduino-PrintStream.git
[submodule "lib/ArduinoSTL"]
	path = lib/ArduinoSTL
	url = https://github.com/mike-matera/ArduinoSTL.git